# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/

# C# / Visual Studio / WinUI
.vs/
bin/
obj/
*.user
*.suo

# Editors
.idea/
.vscode/

# Environment files
.env
.env.*

# Logs
*.log

# Operating system
.DS_Store
Thumbs.db
desktop.ini